.high-score-root {
    -fx-background-color: #1e272e;
    -fx-padding: 30 0 30 0;
    -fx-alignment: center;
}

.high-score-title {
    -fx-font-family: Arial;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #ff0000, #ffed4e);
    -fx-padding: 0 0 30 0;
}

.score-table {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 15;
    -fx-border-color: #ff0000;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-padding: 20;
    -fx-margin: 0 0 30px 0;

    -fx-min-width: 500;
    -fx-max-width: 500;
}

.score-header {
    -fx-background-color: rgba(255, 215, 0, 0.2);
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-spacing: 35;
    -fx-alignment: baseline-left;
}

.score-row{
    -fx-padding:0 0 0 15;
    -fx-spacing: 0;
    -fx-alignment: baseline-left;
}

.score-header-text {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffd700;
}



.score-row:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.score-row-highlighted {
    -fx-background-color: rgba(255, 215, 0, 0.3);
    -fx-border-color: #ffd700;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.score-text {
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}

.score-rank {
    -fx-text-fill: #ffd700;
    -fx-font-weight: bold;
}

.score-name {
    -fx-text-fill: #87ceeb;
}

.score-points {
    -fx-text-fill: #98fb98;
    -fx-font-weight: bold;
}

.score-date {
    -fx-text-fill: #dda0dd;
}

.back-button-container{
   -fx-alignment: center;
   -fx-padding: 20 0 0 0;
}

.back-button {
    -fx-background-color: #3c6382;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 18px;
    -fx-pref-width: 200px;
}

.back-button:hover {
    -fx-background-color: #5ba0f2;
    -fx-cursor: hand;
}
